name: CI
permissions: {}

concurrency:
  group: core-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

on:
  merge_group:
  pull_request:
  push:
    branches: ["main"]

env:
  GH_TOKEN: ${{ github.token }}

jobs:
  smoke:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: shellcheck ./zig/download.sh
      - shell: pwsh
        run: Invoke-ScriptAnalyzer -Path zig/download.win.ps1 -Severity Error,Warning,Information -EnableExit
      - run: ./zig/download.ps1 && ./zig/zig build ci -- smoke

  test:
    strategy:
      matrix:
        include:
          - { os: 'ubuntu-latest' }
          - { os: 'ubuntu-latest-arm64' }
          - { os: 'windows-latest' }
          - { os: 'macos-latest' }
          - { os: 'macos-15-intel' }
    runs-on: ${{ matrix.os }}
    steps:
      - run: git config --global core.autocrlf false
      - if: matrix.os == 'ubuntu-latest' || matrix.os == 'ubuntu-latest-arm64'
        run: | # Allow unshare for vortex.
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_unconfined=0
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
      - uses: actions/checkout@v4
        with: { fetch-depth: 2147483647 } # Fetch full history for tidy.
      - run: ./zig/download.ps1 && ./zig/zig build ci -- test

  z7:
    strategy:
      matrix:
        include:
          - { target: 'x86_64-windows-msvc', os: 'windows-latest' }
          - { target: 'x86_64-linux-musl',    os: 'ubuntu-latest' }
          - { target: 'x86_64-linux-gnu',     os: 'ubuntu-latest' }
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - run: ./zig/download.ps1
      - name: Build
        run: ./zig/zig build -Dtarget=${{ matrix.target }} -Doptimize=ReleaseSafe
      - name: Test
        if: matrix.os == 'ubuntu-latest' && matrix.target == 'x86_64-linux-gnu'
        run: ./zig/zig build test -Dtarget=${{ matrix.target }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: z7-${{ matrix.target }}
          path: |
            zig-out/bin/z7
            zig-out/bin/z7.exe
          if-no-files-found: ignore

  core-pipeline:
    if: always() && github.event_name == 'merge_group'
    runs-on: ubuntu-latest
    needs: [smoke, test, z7]
    steps:
      - if: ${{ !(contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')) }}
        run: exit 0
      - if: ${{  (contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')) }}
        run: exit 1
